# Supabase設定
VITE_SUPABASE_URL="https://rtwgpqpkhbgemxjdeecg.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ0d2dwcXBraGJnZW14amRlZWNnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg4NTQ5ODgsImV4cCI6MjA4NDQzMDk4OH0.r5K4gcy732tY6C12jnyWErvUBUh2OVuXgaV2upJeL1Q"